@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&family=Prompt:wght@400;700&display=swap');

//utilities
*,*::after,*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a{text-decoration: none;}
ul{list-style: none;}
img{width: 100%;}



$color-dark: #333;
$color-light: #f6f7fb;
$color-green: #7C9070;
$color-greenlight:#b7beb3;
$color-greenlight2:#7b986c;
$color-brown: #9E6F21;
$color-brownlight: #bf9b62;
$color-darkblue: #212A3E;

.btn{
    display: inline-block;
    background-color: $color-green;
    color: $color-light;
    border-radius: 2rem;
    padding:.8rem;
    text-transform: uppercase;
    &:hover{
        opacity: .8;
    }
}
.container{
    position: relative;
    z-index: 5;
    max-width: 1400px;
    padding: 0 4rem;
    margin: 0 auto;
}
.background-bg{
    position: absolute;
    width: 100%;
    height: 560px;
    top: 0;
    left: 0;
    background-color: $color-greenlight2;
}
.background-bg2{
    position: absolute;
    width: 100%;
    height: 560px;
    top: 0;
    left: 0;
    background-color: $color-darkblue;
}


.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

.title{
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    &:before{
        content: attr(data-title);
        display: block;
        margin-bottom: .4rem;
        color: $color-green;
        font-size: 1.15rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    &:after{
        content: "";
        position: absolute;
        width: 90px;
        height: 5px;
        border-radius: 3px;
        background-color: $color-brown;
    }
}



//  HEADER
main{
    header{
        width: 100%;
        background-color: $color-light;
        overflow: hidden;
        position: relative;
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            left: 0;

        }
        .nav2{
            z-index: 0;
        }
        nav{
            width: 100%;
            position: relative;
            z-index: 50;
            height: 15rem;
           
            .container{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-light;
                flex-direction: column;
                .links{
                    ul{
                        display: flex;
                        li{
                            padding: 3.5rem 6.2rem;
                            a{
                                color: #333;
                                text-transform: uppercase;
                                font-weight: bold;
                                line-height: 1;
                                .logo-tt{
                                    position: relative;
                                    bottom: 20px;
                                    .logo-title{
                                        color: $color-darkblue;
                                        margin: 0;
                                        text-align: center;
                                        font-weight: 900;
                                        font-family: 'League Spartan', sans-serif;
                                        font-size: 3.5rem;
                                        text-transform: lowercase;
                                    }
                                    .logo-text{
                                        padding-bottom: .7rem;
                                        letter-spacing: .5rem;
                                        text-align: center;
                                        color: $color-darkblue;
                                        font-family: 'Quicksand', sans-serif;
                                        font-weight: lighter;
                                        text-transform: lowercase;
                                        &::first-letter{
                                            margin-left: 5px;
                                        }
                                    }
                                }
                                

                                &:hover{
                                border-bottom: 2px solid $color-darkblue;
                                }
                                &.active{
                                    background-color: $color-darkblue;
                                    color: $color-light;
                                    border-radius: 2rem;
                                    padding: .6rem;
                                    &:hover{
                                        opacity: .8;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

//MAIN - HOME
    .section{
        padding: 7rem 0rem;
    }
    .projects{
        width: 100%;
        color: $color-light;
        position: relative;
        .background-bg{
            position: absolute;
            width: 100%;
            height: 420px;
            top: 0;
            left: 0;
            background-color: $color-darkblue;
        }
        .background-bg2{
            position: absolute;
            width: 100%;
            height: 420px;
            top: 0;
            left: 0;
            background-color: $color-darkblue;
        }
        .container{
            .section-header{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .title{
                    color: $color-light;
                    position: relative;
                    display: inline-block;
                    padding-bottom: 1.5rem;
                    line-height: 1;
                    font-size: 2.8rem;
                    &:before{
                        content: attr(data-title);
                        display: block;
                        margin-bottom: 1.5rem;
                        color: $color-light;
                        font-size: 1.15rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        width: 90px;
                        height: 5px;
                        border-radius: 3px;
                        background-color: #1B9C85;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        
                    }
                    
                }
            }
            .section-body{
                .filter{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 2rem;
                    .filter-btn{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        margin: .45rem 0.4rem;
                        padding: 0.85rem 1.8rem;
                        color: $color-light;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 1.3rem;
                        line-height: 1;
                        cursor: pointer;
                        border-radius: 2rem;
                        transition: .3s;
                        &.active{
                            background-color: $color-light;
                            color: $color-green;
                        }
                    }
                }

                .grid{
                    width: 100%;
                    margin: 1.5rem 0rem;
                    .grid-item{
                        width: 33.33%;
                        height: 650px;
                        padding: 1rem 1.2rem;
                        display: flex;
                        justify-content: center;
                        .gallery-image{
                            position: relative;
                            overflow: hidden;
                            height: 600px;
                            width: 100%;
                            margin: 0rem 2rem;
                            cursor: pointer;
                            &:hover{
                                img{
                                    transform: translate(-50%,-50%) scale(1.1);

                                }
                                .img-overlay{
                                    opacity: .6;
                                }
                               
                            }
                            img{
                                position: absolute;
                                height: 100%;
                                width: initial;
                                top:50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                transform-origin: center;
                                transition: 0.5s;
                                
                            }
                            .img-overlay{
                                position: absolute;
                                width: 100%;
                                top: 0;
                                left: 0;
                                z-index: 2;
                                background-color:$color-greenlight;
                                opacity:.55;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: flex-end;
                                padding: 2rem 3.2rem;
                                opacity: 0;
                                transition: .5s;
                               
                                .img-description{
                                    width: 100%;
                                    h3{
                                        font-weight: 600;
                                        text-transform: uppercase;
                                        font-size: 1.5rem;
                                    }
                                    h5{
                                        font-size: 1.15rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                }

                .prj-btn{
                    display: flex;
                    justify-content: center;
                    .btn{
                        background-color: $color-darkblue;
                        &:hover{
                            opacity: .6;
                        }
                    }
                }
            }
        }
    }

    .videos{
        width: 100%;
        color: $color-light;
        position: relative;
        height: 560px;
        .background-bg
        {
            background-color: $color-light;
            .video11{
                video{
                    width: 100%;
                    height: 600px;
                    object-fit: cover;
                    border-radius: 1px;
                    margin-top: 20px;
                    position: absolute;
                    bottom: 0.1px;
                }
            }
        }
        
        .prj-btn{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-top: 3rem;

            .btn{
                background-color: $color-dark;
                &:hover{
                    opacity: .6;
                }
            }
        }
        .container{
            height: 800px;
            position: relative;
            .section-header{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                .title{
                    padding-bottom: 1.5rem;
                    color: $color-dark;
                    &::before{
                        margin-bottom: 1.5rem;
                        color: $color-light;
                    }
                    &::after{
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color:#1B9C85  ;
                        
                    }
                }
            }
            
            .section-body{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: center;
                padding: 10px;
                padding-top: 50px;
                .row{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .col{
                        flex-basis: 33.3%;
                        min-width: 250px;
                        .feature-img{
                            width: 85%;
                            margin: auto;
                            position: relative;
                            border-radius: 6px;
                            overflow: hidden;
                            border: 5px solid $color-light;
                            margin: 20px;
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                            .play-btn{
                                width: 60px;
                                opacity: .9;
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                cursor: pointer;
                                &:hover{
                                    opacity: .8;
                                }
                            }
                        }
                    }
                }
            }
            .video-player{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                background: rgba(0,0,0,.8);
                width: 100%;
                height: 100%;
                display: none;
                video{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 83%;
                    border-radius: 50px;
                    border: 3px solid $color-darkblue;
                    object-fit: cover;
                }
               video:focus{
                outline: none;
               }
               .close-btn{
                position: absolute;
                top: 10px;
                right: 10px;
                width: 50px;
                cursor: pointer;
               }
            }
        }
        
        
        
    }
   // ABOUT
    .about{
        width: 100%;
        color: $color-light;
        background-color: #f6f7fb;
        position: relative;
        overflow: hidden;
        z-index: -50;
        padding: 10rem 0rem;
        .abilities{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-bottom: 2.5rem;
            margin-top: 2.5rem;
            
            .abilitiy{
                padding: 1rem;
                margin: 3rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                .a-img{
                    width: 100%;
                    img{
                        text-align: center;
                    }
                }
                h2{
                font-size: 2rem;
                font-family: 'Prompt', sans-serif;
                font-weight: 400;
                margin-top:2rem;
                margin-bottom:1rem;
                
                }
                p{
                    color: $color-darkblue;
                }
                
                          
            }
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            left: 0;
            .p1{
                position: absolute;
                width: 44.5%;
                opacity: 0.01;
                top: 10rem;
                left: 6rem;
                background-color: red;
                z-index: 50;
                border-radius: 4px;
            }
            .p2{
                position: absolute;
                width: 18.5%;
                opacity: 0.015;
                top: 14rem;
                left: 68rem;
                background-color: red;
                z-index: 50;
            }
            .p3{
                position: absolute;
                width: 8.5%;
                opacity: 0.03;
                top: 44rem;
                left: 55rem;
                color: green;
                z-index: 50;
            }
            .p4{
                position: absolute;
                width: 38.5%;
                opacity: 0.03;
                bottom: 0rem;
                right: 5rem;
                color: green;
                z-index: 50;
            }
        }
        .container{
            position: relative;
            min-height: 100vh;
            .section-header{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                .title{
                    padding-bottom: 1.5rem;
                    color: $color-darkblue;
                    &::before{
                        margin-bottom: 1.5rem;
                        color: $color-darkblue;
                    }
                    &::after{
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $color-darkblue  ;
                        
                    }
                }
            }
            .section-body{
                color: $color-dark;
                .column-1{
                    img{
                        position: absolute;
                        width: 38.5%;
                        opacity: 1;
                        top: 20rem;
                        left: 15rem;
                        color: green;
                    }
                }
                .column-2{
                    margin-top: 17rem;
                    margin-left: 5rem;
                    position: relative;
                    .badge{
                        color: $color-darkblue;
                        font-size: 3rem;
                    }
                    .text{
                        margin-top: 1.5rem;
                        margin-bottom: 4rem;
                    }
                    .skills{
                        margin: 1.5rem 0rem 2.5rem 0rem;
                        .languages{
                            padding: 2rem 0rem;
                            ul{
                                display:flex;
                            }
                            .language{
                                padding: 1rem 0rem;
                                img{
                                    width: 20%;
                                    padding: 1rem 0rem;
                                    margin-left: .1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// FOOTER
.main-photo{
    height: 100vh;
    width: 100%;
    position: relative;
    &::before{
        content: "nas film";
        position:absolute;
        width:auto;
        top:42%;
        left:50%;
        margin-left:-25px;
        padding:0 10px;
        font-size:12rem;
        color:#fff;
        text-align:center;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translate(-50%,-50%);
        opacity: .7;
        font-weight: 900;
        font-family: 'League Spartan', sans-serif;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer2{
    margin-top: 300px;
}
.footer{
    background-color: $color-darkblue;
    color: $color-light;
    .container{
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .social-media{
            a{
                display: inline-block;
                padding: .6rem;
                &:hover{
                    opacity: .7;
                }
            }
        }
    }
}


// CONTACT

.contact{
    width: 100%;
    padding: 13.5rem 0rem 8.5rem 0rem;
    position: relative;
    &::before,&::after{
        content: "";
        position: absolute;
        width: 100%;
        z-index: -1;
        left: 0;
        
    }
    &::before{
        top: 0;
        height: 40%;
        background: url("map.png") center center / cover
    }
    &::after{
        top: 40%;
        height: 60%;
        background: $color-darkblue;
    }
    .contact-box{
        width: 100%;
        background-color: $color-light;
        border-radius: 45px;
        padding: 5.5rem 4.5rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        .contact-info{
            padding-right: 2rem;
            h3{
                margin-bottom: 2rem;
                font-size: 3rem;
                display: flex;
                justify-content: center;
                color: $color-darkblue;
            }
            .information-wrap{
                margin-top: 10rem;
                .contact-icon{
                    display: flex;
                    align-items: center;
                    margin: 2rem 0rem;
                    color: $color-darkblue;
                    .fa-map-marker-alt{
                        position: relative;
                        left: 3px;
                        margin-right: 28px;
                    }
                    .fa-paper-plane{
                        margin-right:23px;
                    }
                    .fa-solid{
                        margin-right: 23px;
                    }
                    .info-list{
                        display: flex;
                        li{
                            padding: 0rem 1rem;
                            &:first-child{
                                padding-left: 0rem;
                            }
                            a{
                                &:hover{
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
            }

            
        }
        .contact-form{
            padding-left: 2rem ;
            h3{
                margin-bottom: 2rem;
                font-size: 3rem;
                display: flex;
                justify-content: center;
                color: $color-darkblue;
            }
            .btn-dark{
                background-color: $color-darkblue;
                color: #fff;
                padding: .5rem 2rem;
                border-radius: 15px;
                cursor: pointer;
                &:hover{
                    opacity: .8;
                }
            }
            .row{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
                grid-column-gap:.6rem;
                font-size: 1.25rem;
                font-weight: 600;
                .contact-input{
                    padding: 1.2rem 2.1rem;
                    margin: 0.6rem 0rem;
                    border: none;
                    outline: none;
                    background-color: #f3f3f3;
                    border-radius: 1rem;
                    transition: .3s;   
                    ::placeholder{
                        font-weight: 400;
                    }
                    &.textarea{
                        resize: none;
                        min-height: 220px;

                    }

                    &:hover{
                        background-color: #ececec;
                    }
                }
            }
        }
    }
}

//RESPONSIVE

@media(max-width:2000px){
    .footer2{
        margin-top: 1750px;
    }
}

@media (max-width:1200px){
    html{
        font-size: 9px;
    }
    .container{
        width: 1080px;
    }
    main{
        .section{
            .container{
                .section-body{
                    .column-1{
                        img{
                            width: 35%;
                            left: 8rem;
                            top: 25rem;
                        }
                    }
                }
            }
        }
    }
    .footer2{
        margin-top: 600px;
    }
}

@media(max-width:1080px){
    .container{
        width: 976px ;
    }
    main{
        .section{
            .container{
                .section-body{
                    .column-1{
                        img{
                            width: 40%;
                            left: 8rem;
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .popup-video{
                    video{
                        width: 90%;
                    }
                }
            }
        }
    }
    
}

@media (max-width:976px){
    html{
        font-size: 8px;
    }
    .container{
        width: 900px;
    }
    main{
        header{
            nav{
                .container{
                    .links{
                        ul{
                            li{
                                padding: 1rem 3.2rem;
                            }
                        }
                    }
                    
                }
               
                
            }
        }
        .projects{
            .container{
                .section-body{
                    .grid{
                        .grid-item{
                            width: 50%;
                        }
                    }
                }
            }
        }
        .section{
            .container{
                .section-body{
                    .column-1{
                        img{
                            width: 40%;
                            left: 4rem;
                        }
                    }
                    .column-2{
                        .skills{
                            .languages{
                                .language{
                                    img{
                                        width: 35%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .section-body{
                    .row{
                       .col{
                        flex-basis: 50%;
                       }
                    }
                }
            }
        }
    }
    .footer2{
        margin-top: 1000px;
    }
}

@media (max-width:850px){
    html{
        font-size: 8px;
    }
    .container{
        width: 800px;
    }
    main{
        header{
            nav{
                .container{
                    .links{
                        ul{
                            li{
                                padding: 1rem 3.2rem;
                            }
                        }
                    }
                    
                }
               
                
            }
        }
        .projects{
            .container{
                .section-body{
                    .grid{
                        .grid-item{
                            width: 50%;
                        }
                    }
                }
            }
        }
            
        .section{
            .abilities{
                grid-template-columns: repeat(2,1fr);
                
            }
            .container{
                .section-body{
                    .column-1{
                        img{
                            width: 45%;
                            left: 2rem;
                        }
                    }
                    .column-2{
                        .skills{
                            .languages{
                                .language{
                                    margin-left: 1rem;
                                    img{
                                        width: 30%;
                                    }
                                    .persian{
                                        width: 27%;
                                    }
                                }
                                .english{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
                .section-header{
                    .title{
                        &::after{
                            height: 4px;
                            width: 70px;
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .popup-video{
                    video{
                        width: 90%;
                    }
                }
            }
        }
        
    }
    .footer2{
        margin-top: 1000px;
    }
}

@media (max-width:768px){
    .container{
        width: 740px;
    }
    main{
        header{
            nav{
                .container{
                    .links{
                        ul{
                            li{
                                padding: 1rem 3.2rem;
                            }
                        }
                    }
                    
                }
               
                
            }
        }
        .projects{
            .container{
                .section-body{
                    .grid{
                        .grid-item{
                            width: 50%;
                        }
                    }
                }
            }
        }
        
        .section{
            .abilities{
                grid-template-columns: repeat(1,1fr);
                
            }
            .container{
                .section-header{
                    .title{
                        z-index: 50;
                    }
                }
                .section-body{
                    .column-1{
                        margin-right: 2rem;
                        img{
                            width: 35%;
                        }
                    }
                    .column-2{
                        .skills{
                            .languages{
                                ul{
                                    // display: block;
                                    .language{
                                        margin: 2rem;
                                        img{
                                            width: 35%;
                                        }
                                        .persian{
                                            width: 30%;
                                        }
                                    }
                                    .english{
                                        margin-left: 0px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .section-header{
                    .title{
                        &::after{
                            height: 3px;
                            width: 60px;
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .section-body{
                    .row{
                       .col{
                        flex-basis: 100%;
                       }
                    }
                }
            }
        }
        
        
    }
    .main-photo{
        &::before{
            top: 45%;
        }
    }
    .footer2{
        margin-top: 3800px;
    }

    html{
        font-size: 8px;
    }
    .container{
        width: 720px;
    }
    
}

@media (max-width: 680px){
    .container{
        width: 600px;
    }
    main{
        header{
            nav{
                .container{
                    .links{
                        ul{
                            li{
                                padding: 1rem 3.2rem;
                            }
                        }
                    }
                    
                }
               
                
            }
        }
        .projects{
            .container{
                .section-body{
                    .grid{
                        .grid-item{
                            width: 95%;
                        }
                    }
                }
            }
        }
        
        .section{
            .container{
                .section-body{
                    .column-1{
                        margin-right: 22rem;
                        img{
                            width: 36%;
                        }
                    }
                    .column-2{
                        font-size: 10.5px;
                        .skills{
                            .languages{
                                ul{
                                    .language{
                                        margin: 2rem;
                                        img{
                                            width: 35%;
                                        }
                                        .persian{
                                            width: 30%;
                                        }
                                    }
                                    .english{
                                        margin-left: 0px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .section-header{
                    .title{
                        &::after{
                            height: 2.5px;
                            width: 55px;
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .popup-video{
                    video{
                        width: 90%;
                    }
                }
            }
        }
        
    }
    .footer2{
        margin-top: 3000px;
    }
}

@media (max-width: 600px){
    html{
        font-size: 7px;
    }
    .container{
        width: 576px;
    }
    main{
        header{
            nav{
                .container{
                    .links{
                        ul{
                            li{
                                padding: 1rem 3.2rem;
                            }
                        }
                    }
                    
                }
               
                
            }
        }
        .projects{
            .container{
                .section-body{
                    .grid{
                        .grid-item{
                            width: 95%;
                        }
                    }
                }
            }
        }
        .section{
            .container{
                .section-body{
                    .column-1{
                        margin-right: 22rem;
                        img{
                            width: 36%;
                        }
                    }
                    .column-2{
                        font-size: 10px;
                        .skills{
                            .languages{
                                ul{
                                    .language{
                                        margin: 2rem;
                                        img{
                                            width: 35%;
                                        }
                                        .persian{
                                            width: 30%;
                                        }
                                    }
                                    .english{
                                        margin-left: 0px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .videos{
            .container{
                .popup-video{
                    video{
                        width: 95%;
                    }
                }
            }
        }
    }
    .footer2{
        margin-top: 2900px;
    }
}

@media (max-width:550px) {   
        html{
            font-size: 6.5px;
        }
        .container{
            width: 510px;
        }
        main{
            header{
                nav{
                    height: 17rem;
                    .container{
                        .links{
                            ul{
                                li{
                                    padding: 1rem 3.2rem;
                                }
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .projects{
                .container{
                    .section-body{
                        .grid{
                            .grid-item{
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .section{
                .container{
                    .section-body{
                        .column-1{
                            margin-right: 22rem;
                            img{
                                width: 36%;
                            }
                        }
                        .column-2{
                            font-size: 9px;
                            .skills{
                                .languages{
                                    ul{
                                        .language{
                                            margin: 2rem;
                                            img{
                                                width: 35%;
                                            }
                                            .persian{
                                                width: 30%;
                                            }
                                        }
                                        .english{
                                            margin-left: 0px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .videos{
                .container{
                    .popup-video{
                        video{
                            width: 95%;
                        }
                    }
                }
            }
        }
        .footer2{
            margin-top: 2500px;
    }
}

@media (max-width:500px) {
        
        html{
            font-size: 6px;
        }
        .container{
            width: 465px;
        }
        main{
            header{
                nav{
                    height: 17rem;
                    .container{
                        .links{
                            ul{
                                li{
                                    padding: 1rem 3.2rem;
                                    a{
                                        .logo-tt{
                                            bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .projects{
                .container{
                    .section-body{
                        .grid{
                            .grid-item{
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .section{
                .container{
                    .section-body{
                        .column-1{
                            margin-right: 22rem;
                            img{
                                width: 36%;
                            }
                        }
                        .column-2{
                            font-size: 8.5px;
                            .skills{
                                .languages{
                                    ul{
                                        .language{
                                            margin: 2rem;
                                            img{
                                                width: 35%;
                                            }
                                            .persian{
                                                width: 30%;
                                            }
                                        }
                                        .english{
                                            margin-left: 0px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .videos{
                .container{
                    .popup-video{
                        video{
                            width: 95%;
                        }
                    }
                }
            }
        }  
    .footer2{
        margin-top: 2200px;
    }
}

@media (max-width:465px) {
        
        html{
            font-size: 6px;
        }
        .container{
            width: 420px;
        }
        main{
            header{
                nav{
                    height: 17rem;
                    .container{
                        .links{
                            ul{
                                li{
                                    padding: 1rem 3.2rem;
                                    a{
                                        .logo-tt{
                                            bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .projects{
                .container{
                    .section-body{
                        .grid{
                            .grid-item{
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .section{
                .container{
                    .section-header{
                        .title{
                            &::after{
                                height: 2px;
                                width: 50px;
                            }
                        }
                    }
                    .section-body{
                        .column-1{
                            margin-right: 22rem;
                            img{
                                width: 36%;
                            }
                        }
                        .column-2{
                            font-size: 8px;
                            .skills{
                                .languages{
                                    ul{
                                        .language{
                                            margin: 2rem;
                                            img{
                                                width: 33%;
                                            }
                                            .persian{
                                                width: 25%;
                                            }
                                        }
                                        .english{
                                            margin-left: 0px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .videos{
                .container{
                    .popup-video{
                        video{
                            width: 95%;
                        }
                    }
                }
            }
        }
    .footer2{
        margin-top: 2000px;
    }
}

@media (max-width:420px) {
        
        html{
            font-size: 5.75px;
        }
        .container{
            width: 400px;
        }
        main{
            header{
                nav{
                    height: 17rem;
                    .container{
                        .links{
                            ul{
                                li{
                                    padding: 1rem 3.2rem;
                                    a{
                                        .logo-tt{
                                            bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .projects{
                .container{
                    .section-body{
                        .grid{
                            .grid-item{
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .section{
                .container{
                    .section-body{
                        .column-1{
                            margin-right: 22rem;
                            img{
                                width: 36%;
                            }
                        }
                        .column-2{
                            font-size: 7.2px;
                            .skills{
                                .languages{
                                    ul{
                                        .language{
                                            margin: 2rem;
                                            img{
                                                width: 33%;
                                            }
                                            .persian{
                                                width: 25%;
                                            }
                                        }
                                        .english{
                                            margin-left: 0px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .videos{
                .container{
                    .popup-video{
                        video{
                            width: 95%;
                        }
                    }
                }
            }
        }  
    .footer2{
        margin-top: 1900px;
    }
}

@media (max-width:400px) {
        
        html{
            font-size: 5.5px;
        }
        .container{
            width: 380px;
        }
        main{
            header{
                nav{
                    height: 17rem;
                    .container{
                        .links{
                            ul{
                                li{
                                    padding: 1rem 2.2rem;
                                }
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .projects{
                .container{
                    .section-body{
                        .grid{
                            .grid-item{
                                width: 95%;
                            }
                        }
                    }
                }
            }
            .section{
                .container{
                    .section-body{
                        .column-1{
                            margin-right: 22rem;
                            img{
                                width: 36%;
                            }
                        }
                        .column-2{
                            font-size: 6.8px;
                            .skills{
                                .languages{
                                    ul{
                                        .language{
                                            margin: 2rem;
                                            img{
                                                width: 33%;
                                            }
                                            .persian{
                                                width: 25%;
                                            }
                                        }
                                        .english{
                                            margin-left: 0px;
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .videos{
                .container{
                    .popup-video{
                        video{
                            width: 95%;
                        }
                    }
                }
            }
        }
        .footer2{
            margin-top: 1500px;
        }
    .footer2{
        margin-top: 1700px;
    }
}