@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&family=Prompt:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: #7C9070;
  color: #f6f7fb;
  border-radius: 2rem;
  padding: 0.8rem;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.8;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 1400px;
  padding: 0 4rem;
  margin: 0 auto;
}

.background-bg {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 0;
  left: 0;
  background-color: #7b986c;
}

.background-bg2 {
  position: absolute;
  width: 100%;
  height: 560px;
  top: 0;
  left: 0;
  background-color: #212A3E;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
}
.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: #7C9070;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: #9E6F21;
}

main header {
  width: 100%;
  background-color: #f6f7fb;
  overflow: hidden;
  position: relative;
}
main header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
main header .nav2 {
  z-index: 0;
}
main header nav {
  width: 100%;
  position: relative;
  z-index: 50;
  height: 15rem;
}
main header nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f7fb;
  flex-direction: column;
}
main header nav .container .logo {
  width: 8rem;
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
}
main header nav .container .links ul {
  display: flex;
}
main header nav .container .links ul li {
  padding: 3.5rem 6.2rem;
}
main header nav .container .links ul li a {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}
main header nav .container .links ul li a .logo-tt {
  position: relative;
  bottom: 20px;
}
main header nav .container .links ul li a .logo-tt .logo-title {
  color: #212A3E;
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-family: "League Spartan", sans-serif;
  font-size: 3.5rem;
  text-transform: lowercase;
}
main header nav .container .links ul li a .logo-tt .logo-text {
  padding-bottom: 0.7rem;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #212A3E;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  text-transform: lowercase;
}
main header nav .container .links ul li a .logo-tt .logo-text::first-letter {
  margin-left: 5px;
}
main header nav .container .links ul li a:hover {
  border-bottom: 2px solid #212A3E;
}
main header nav .container .links ul li a.active {
  background-color: #212A3E;
  color: #f6f7fb;
  border-radius: 2rem;
  padding: 0.6rem;
}
main header nav .container .links ul li a.active:hover {
  opacity: 0.8;
}
main .section {
  padding: 7rem 0rem;
}
main .projects {
  width: 100%;
  color: #f6f7fb;
  position: relative;
}
main .projects .background-bg {
  position: absolute;
  width: 100%;
  height: 420px;
  top: 0;
  left: 0;
  background-color: #212A3E;
}
main .projects .background-bg2 {
  position: absolute;
  width: 100%;
  height: 420px;
  top: 0;
  left: 0;
  background-color: #212A3E;
}
main .projects .container .section-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .projects .container .section-header .title {
  color: #f6f7fb;
  position: relative;
  display: inline-block;
  padding-bottom: 1.5rem;
  line-height: 1;
  font-size: 2.8rem;
}
main .projects .container .section-header .title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 1.5rem;
  color: #f6f7fb;
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}
main .projects .container .section-header .title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: #1B9C85;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
main .projects .container .section-body .filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
main .projects .container .section-body .filter .filter-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.45rem 0.4rem;
  padding: 0.85rem 1.8rem;
  color: #f6f7fb;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}
main .projects .container .section-body .filter .filter-btn.active {
  background-color: #f6f7fb;
  color: #7C9070;
}
main .projects .container .section-body .grid {
  width: 100%;
  margin: 1.5rem 0rem;
}
main .projects .container .section-body .grid .grid-item {
  width: 33.33%;
  height: 650px;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
}
main .projects .container .section-body .grid .grid-item .gallery-image {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 100%;
  margin: 0rem 2rem;
  cursor: pointer;
}
main .projects .container .section-body .grid .grid-item .gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
main .projects .container .section-body .grid .grid-item .gallery-image:hover .img-overlay {
  opacity: 0.6;
}
main .projects .container .section-body .grid .grid-item .gallery-image img {
  position: absolute;
  height: 100%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}
main .projects .container .section-body .grid .grid-item .gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #b7beb3;
  opacity: 0.55;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}
main .projects .container .section-body .grid .grid-item .gallery-image .img-overlay .img-description {
  width: 100%;
}
main .projects .container .section-body .grid .grid-item .gallery-image .img-overlay .img-description h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}
main .projects .container .section-body .grid .grid-item .gallery-image .img-overlay .img-description h5 {
  font-size: 1.15rem;
  font-weight: 300;
}
main .projects .container .section-body .prj-btn {
  display: flex;
  justify-content: center;
}
main .projects .container .section-body .prj-btn .btn {
  background-color: #212A3E;
}
main .projects .container .section-body .prj-btn .btn:hover {
  opacity: 0.6;
}
main .videos {
  width: 100%;
  color: #f6f7fb;
  position: relative;
  height: 560px;
}
main .videos .background-bg .video11 video {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1px;
  margin-top: 20px;
  position: absolute;
  bottom: 0.1px;
}
main .videos .prj-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3rem;
}
main .videos .prj-btn .btn {
  background-color: #333;
}
main .videos .prj-btn .btn:hover {
  opacity: 0.6;
}
main .videos .container {
  height: 800px;
  position: relative;
}
main .videos .container .section-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .videos .container .section-header .title {
  padding-bottom: 1.5rem;
  color: #333;
}
main .videos .container .section-header .title::before {
  margin-bottom: 1.5rem;
  color: #f6f7fb;
}
main .videos .container .section-header .title::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1B9C85;
}
main .videos .container .section-body {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  padding-top: 50px;
}
main .videos .container .section-body .video {
  height: 275px;
  width: 325px;
  border: 5px solid #212A3E;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow: hidden;
}
main .videos .container .section-body .video:hover video {
  transform: scale(1.1);
}
main .videos .container .section-body .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}
main .videos .container .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
}
main .videos .container .popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  font-weight: 300;
  z-index: 100;
  cursor: pointer;
}
main .videos .container .popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  border-radius: 50px;
  border: 3px solid #212A3E;
  -o-object-fit: cover;
     object-fit: cover;
}
main .about {
  width: 100%;
  color: #f6f7fb;
  background-color: #f6f7fb;
  position: relative;
  overflow: hidden;
  z-index: -50;
  padding: 10rem 0rem;
}
main .about .abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
main .about .abilities .abilitiy {
  padding: 1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .about .abilities .abilitiy .a-img {
  width: 100%;
}
main .about .abilities .abilitiy .a-img img {
  text-align: center;
}
main .about .abilities .abilitiy h2 {
  font-size: 2rem;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
main .about .abilities .abilitiy p {
  color: #212A3E;
}
main .about .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
main .about .overlay .p1 {
  position: absolute;
  width: 44.5%;
  opacity: 0.01;
  top: 10rem;
  left: 6rem;
  background-color: red;
  z-index: 50;
  border-radius: 4px;
}
main .about .overlay .p2 {
  position: absolute;
  width: 18.5%;
  opacity: 0.015;
  top: 14rem;
  left: 68rem;
  background-color: red;
  z-index: 50;
}
main .about .overlay .p3 {
  position: absolute;
  width: 8.5%;
  opacity: 0.03;
  top: 44rem;
  left: 55rem;
  color: green;
  z-index: 50;
}
main .about .overlay .p4 {
  position: absolute;
  width: 38.5%;
  opacity: 0.03;
  bottom: 0rem;
  right: 5rem;
  color: green;
  z-index: 50;
}
main .about .container {
  position: relative;
  min-height: 100vh;
}
main .about .container .section-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about .container .section-header .title {
  padding-bottom: 1.5rem;
  color: #212A3E;
}
main .about .container .section-header .title::before {
  margin-bottom: 1.5rem;
  color: #212A3E;
}
main .about .container .section-header .title::after {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212A3E;
}
main .about .container .section-body {
  color: #333;
}
main .about .container .section-body .column-1 img {
  position: absolute;
  width: 38.5%;
  opacity: 1;
  top: 20rem;
  left: 15rem;
  color: green;
}
main .about .container .section-body .column-2 {
  margin-top: 17rem;
  margin-left: 5rem;
  position: relative;
}
main .about .container .section-body .column-2 .badge {
  color: #212A3E;
  font-size: 3rem;
}
main .about .container .section-body .column-2 .text {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
main .about .container .section-body .column-2 .skills {
  margin: 1.5rem 0rem 2.5rem 0rem;
}
main .about .container .section-body .column-2 .skills .languages {
  padding: 2rem 0rem;
}
main .about .container .section-body .column-2 .skills .languages ul {
  display: flex;
}
main .about .container .section-body .column-2 .skills .languages .language {
  padding: 1rem 0rem;
}
main .about .container .section-body .column-2 .skills .languages .language img {
  width: 20%;
  padding: 1rem 0rem;
  margin-left: 0.1rem;
}

.main-photo {
  height: 100vh;
  width: 100%;
  position: relative;
}
.main-photo::before {
  content: "nas film";
  position: absolute;
  width: auto;
  top: 42%;
  left: 50%;
  margin-left: -25px;
  padding: 0 10px;
  font-size: 12rem;
  color: #fff;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  font-weight: 900;
  font-family: "League Spartan", sans-serif;
}
.main-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer2 {
  margin-top: 300px;
}

.footer {
  background-color: #212A3E;
  color: #f6f7fb;
}
.footer .container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .container .social-media a {
  display: inline-block;
  padding: 0.6rem;
}
.footer .container .social-media a:hover {
  opacity: 0.7;
}

.scroll-totop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}
.scroll-totop i {
  color: red;
  font-size: 2rem;
}
.scroll-totop i:hover {
  opacity: 0.7;
}

.contact {
  width: 100%;
  padding: 13.5rem 0rem 8.5rem 0rem;
  position: relative;
}
.contact::before, .contact::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
}
.contact::before {
  top: 0;
  height: 40%;
  background: url("../img/map.png") center center/cover;
}
.contact::after {
  top: 40%;
  height: 60%;
  background: #212A3E;
}
.contact .contact-box {
  width: 100%;
  background-color: #f6f7fb;
  border-radius: 45px;
  padding: 5.5rem 4.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact .contact-box .contact-info {
  padding-right: 2rem;
}
.contact .contact-box .contact-info h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #212A3E;
}
.contact .contact-box .contact-info .information-wrap {
  margin-top: 10rem;
}
.contact .contact-box .contact-info .information-wrap .contact-icon {
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
  color: #212A3E;
}
.contact .contact-box .contact-info .information-wrap .contact-icon .fa-map-marker-alt {
  position: relative;
  left: 3px;
  margin-right: 28px;
}
.contact .contact-box .contact-info .information-wrap .contact-icon .fa-paper-plane {
  margin-right: 23px;
}
.contact .contact-box .contact-info .information-wrap .contact-icon .fa-solid {
  margin-right: 23px;
}
.contact .contact-box .contact-form {
  padding-left: 2rem;
}
.contact .contact-box .contact-form h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #212A3E;
}
.contact .contact-box .contact-form .btn-dark {
  background-color: #212A3E;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  cursor: pointer;
}
.contact .contact-box .contact-form .btn-dark:hover {
  opacity: 0.8;
}
.contact .contact-box .contact-form .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-column-gap: 0.6rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.contact .contact-box .contact-form .row .contact-input {
  padding: 1.2rem 2.1rem;
  margin: 0.6rem 0rem;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  border-radius: 1rem;
  transition: 0.3s;
}
.contact .contact-box .contact-form .row .contact-input ::-moz-placeholder {
  font-weight: 400;
}
.contact .contact-box .contact-form .row .contact-input ::placeholder {
  font-weight: 400;
}
.contact .contact-box .contact-form .row .contact-input.textarea {
  resize: none;
  min-height: 220px;
}
.contact .contact-box .contact-form .row .contact-input:hover {
  background-color: #ececec;
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .container {
    width: 1080px;
  }
  .footer2 {
    margin-top: 600px;
  }
  main .section .container .section-body .column-1 img {
    width: 35%;
    left: 8rem;
    top: 25rem;
  }
}
@media (max-width: 1080px) {
  .container {
    width: 976px;
  }
  main .section .container .section-body .column-1 img {
    width: 40%;
    left: 8rem;
  }
}
@media (max-width: 976px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 900px;
  }
  main header nav .container .links ul li {
    padding: 1rem 3.2rem;
  }
  main .projects .container .section-body .grid .grid-item {
    width: 50%;
  }
  main .section .container .section-body .column-1 img {
    width: 40%;
    left: 4rem;
  }
  main .section .container .section-body .column-2 .skills .languages .language img {
    width: 35%;
  }
  .footer2 {
    margin-top: 700px;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 8px;
  }
  .container {
    width: 800px;
  }
  main header nav .container .links ul li {
    padding: 1rem 3.2rem;
  }
  main .projects .container .section-body .grid .grid-item {
    width: 50%;
  }
  main .section .abilities {
    grid-template-columns: repeat(2, 1fr);
  }
  main .section .container .section-body .column-1 img {
    width: 45%;
    left: 2rem;
  }
  main .section .container .section-body .column-2 .skills .languages .language {
    margin-left: 1rem;
  }
  main .section .container .section-body .column-2 .skills .languages .language img {
    width: 30%;
  }
  main .section .container .section-body .column-2 .skills .languages .language .persian {
    width: 27%;
  }
  .footer2 {
    margin-top: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 740px;
  }
  main header nav .container .links ul li {
    padding: 1rem 3.2rem;
  }
  main .projects .container .section-body .grid .grid-item {
    width: 50%;
  }
  main .section .abilities {
    grid-template-columns: repeat(1, 1fr);
  }
  main .section .container .section-header .title {
    z-index: 50;
  }
  main .section .container .section-body .column-1 {
    margin-right: 2rem;
  }
  main .section .container .section-body .column-1 img {
    width: 40%;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language {
    margin: 2rem;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language img {
    width: 35%;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language .persian {
    width: 30%;
  }
  .main-photo::before {
    top: 45%;
  }
  .footer2 {
    margin-top: 1400px;
  }
  html {
    font-size: 8px;
  }
  .container {
    width: 720px;
  }
  .videos .container .popup-video video {
    width: 95%;
  }
}
@media (max-width: 680px) {
  .container {
    width: 600px;
  }
  main header nav .container .links ul li {
    padding: 1rem 3.2rem;
  }
  main .projects .container .section-body .grid .grid-item {
    width: 95%;
  }
  main .section .container .section-body .column-1 {
    margin-right: 2rem;
  }
  main .section .container .section-body .column-1 img {
    width: 50%;
    left: 2rem;
    margin-top: 30rem;
  }
  main .section .container .section-body .column-2 .skills .languages ul {
    display: block;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language {
    margin: 0.5rem;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language img {
    width: 10%;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language .persian {
    width: 10%;
  }
  .footer2 {
    margin-top: 1400px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 576px;
  }
  main header nav .container .links ul li {
    padding: 1rem 3.2rem;
  }
  main .projects .container .section-body .grid .grid-item {
    width: 95%;
  }
  main .section .container .section-body .column-1 {
    margin-right: 2rem;
  }
  main .section .container .section-body .column-1 img {
    width: 50%;
    left: 2rem;
    margin-top: 30rem;
  }
  main .section .container .section-body .column-2 .skills .languages ul {
    display: block;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language {
    margin: 0.5rem;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language img {
    width: 10%;
  }
  main .section .container .section-body .column-2 .skills .languages ul .language .persian {
    width: 10%;
  }
}/*# sourceMappingURL=main.css.map */